<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/auth_style.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body>
    <!-- auth content block  -->
    {% block content %}
    {% endblock %}

    <!-- script to achieve re-usabilities -->
    <script>
        // Function to toggle password visibility
        function togglePasswordVisibility(passwordFieldId, iconId) {
            // Select the password field and the icon
            const passwordField = document.getElementById(passwordFieldId);
            const toggleIcon = document.getElementById(iconId);

            // Toggle the type of the password field
            const type = passwordField.getAttribute("type") === "password" ? "text" : "password";
            passwordField.setAttribute("type", type);

            // Toggle the icon class
            toggleIcon.classList.toggle("fa-eye");
            toggleIcon.classList.toggle("fa-eye-slash");
        }
    </script>
    
</body>
</html>