{% extends 'auth_templates/auth_base.html' %}

{% block title %}
    Change of pin
{% endblock %}

{% block content %}
    <div class="auth-wrapper">
        <div class="auth-box">
            <div class="back-btn-container">
                <button class="get-back-btn" name="username_submit_btn" onclick="location.href='.'">
                    <i class="fas fa-chevron-left" style="font-size: 24px;"></i>
                </button>
                <div class="auth-heading">
                    <h2><strong>Change Of Pin</strong></h2>
                </div>
            </div>
            <div class="auth-box-p">
                <p class="have-account">Changing pin</p>
            </div>
            <div class="auth-form">
                <form method="POST">
                    <!-- <p style="font-size:13px;"></p> -->
                    <div class="input-container">
                        <i class="fas fa-lock" style="color: #06283D; font-size: 24px;"></i>
                        <input 
                            type="password" 
                            id="old_pin" 
                            maxlength="4" 
                            pattern="\d{4}" 
                            placeholder="Enter 4-digit PIN" 
                            title="Please enter exactly 4 digits" 
                            required>
                        <i class="fas fa-eye-slash" id="togglePassword" onclick="togglePasswordVisibility('old_pin', 'togglePassword')"></i>
                    </div>
                    <div class="input-container">
                        <i class="fas fa-lock" style="color: #06283D; font-size: 24px;"></i>
                        <input
                            type="password" 
                            id="new_pin1" 
                            maxlength="4" 
                            pattern="\d{4}" 
                            placeholder="Enter 4-digit PIN" 
                            title="Please enter exactly 4 digits" 
                            required>
                        <i class="fas fa-eye-slash" id="togglePassword1" onclick="togglePasswordVisibility('new_pin1', 'togglePassword1')"></i>
                    </div>
                    <div class="input-container ">
                        <i class="fas fa-lock" style="color: #06283D; font-size: 24px;"></i>
                        <input 
                            type="password" 
                            id="new_pin2" 
                            maxlength="4" 
                            pattern="\d{4}" 
                            placeholder="Enter 4-digit PIN" 
                            title="Please enter exactly 4 digits" 
                            required>
                        <i class="fas fa-eye-slash" id="togglePassword2" onclick="togglePasswordVisibility('new_pin2', 'togglePassword2')"></i>
                    
                    </div>
                    <div class="submit-container">
                        <button type="submit" class="submit-btn" name="password_submit_btn">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}