{% extends 'auth_templates/auth_base.html' %}

{% block title %}
    generate new password
{% endblock %}

{% block content %}
    <div class="auth-wrapper">
        <div class="auth-box">
            <div class="back-btn-container">
                <button class="get-back-btn" name="username_submit_btn" onclick="history.back()">
                    <i class="fas fa-chevron-left" style="font-size: 24px;"></i>
                </button>
                <div class="auth-heading">
                    <h2><strong>Resetting password</strong></h2>
                </div>
            </div>
            <!-- to show flashed messages -->
            {% with messages = get_flashed_messages( with_categories = true )%}
                {% if messages %}
                    <ul>
                        {% for category, message in messages %}
                            <li class="{{ category }}">{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
            <div class="auth-box-p">
                <p class="have-account">Changing password</p>
            </div>
            <div class="auth-form">
                <form method="POST">
                    <div class="input-container">
                        <i class="fas fa-lock" style="color: #06283D; font-size: 24px;"></i>
                        <input type="password" id="old_password" name="old_password" placeholder="Old password">
                        <i class="fas fa-eye-slash" id="togglePassword1" onclick="togglePasswordVisibility('old_password', 'togglePassword1')"></i>
                    </div>
                    <div class="input-container">
                        <i class="fas fa-lock" style="color: #06283D; font-size: 24px;"></i>
                        <input type="password" id="password1" name="password1" placeholder="New password">
                        <i class="fas fa-eye-slash" id="togglePassword2" onclick="togglePasswordVisibility('password1', 'togglePassword2')"></i>
                    </div>
                    <div class="input-container">
                        <i class="fas fa-lock" style="color: #06283D; font-size: 24px;"></i>
                        <input type="password" id="password2" name="password2" placeholder="Re-enter password">
                        <i class="fas fa-eye-slash" id="togglePassword3" onclick="togglePasswordVisibility('password2', 'togglePassword3')"></i>
                    </div>
                    <div class="submit-container">
                        <button type="submit" class="submit-btn" name="password_submit_btn">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}