{% extends 'auth_templates/auth_base.html' %}

{% block title %}
    login
{% endblock %}

{% block content %}
    <div class="auth-wrapper">
        <div class="auth-box">
            <div class="back-btn-container">
                <button class="get-back-btn" name="username_submit_btn" onclick="location.href='.'">
                    <i class="fas fa-chevron-left" style="font-size: 24px;"></i>
                </button>
                <div class="auth-heading">
                    <h2><strong>Welcome back!</strong></h2>
                </div>
            </div>
            <div class="auth-box-p">
                <p class="have-account">Log in to your account</p>
            </div>
            <form class="auth-form" method="post">
                <div class="input-container">
                    <i class="fas fa-user" style="color: #06283D; font-size: 24px;"></i>
                    <input type="text" class="input" placeholder="Username Or Email" id="username" name="username_or_email">
                </div>
                <div class="input-container">
                    <i class="fas fa-lock" style="color: #06283D; font-size: 24px;"></i>
                    <input type="password" class="input" placeholder="Password" id="password" name="password">
                </div>
                <div class="submit-container">
                    <button type="submit" class="submit-btn">Login</button>
                </div>
                <div>
                    <p class="have-account"><a class="term" href="/reset-password">Forget Password</a></p>
                    <p class="have-account">You don't have account? <a class="term" href="/sign-up">Sign Up</a></p>
                </div>
            </form>
        </div>
    </div>
{% endblock %}