{% extends 'auth_templates/auth_base.html' %}

{% block title %}
    forgot password
{% endblock %}

{% block content %}
    <div class="auth-wrapper">
        <button class="get-back-btn" name="username_submit_btn">
            <i class="fas fa-arrow" style="color: #06283D; font-size: 24px;"></i>
            back
        </button>
        <div class="auth-box">
            <!-- <img src="{{ url_for('static', filename='images/auth_images/welcome_icon.png')}}" alt="Cranberry"> -->
            <h1 class="auth-heading"><strong>Password reset!</strong></h1>
            <div class="auth-form">
                <form method="POST">
                    <p style="font-size:13px;">Get otp verification</p>
                    <div class="input-container">
                        <i class="fas fa-user" style="color: #06283D; font-size: 24px;"></i>
                        <input type="text" id="username" name="username_or_email" placeholder="Username Or Email">
                    </div>
                    <div class="input-container">
                        <i class="fas fa-shield" style="color: #06283D; font-size: 24px;"></i>
                        <input type="text" id="otp" name="otp" placeholder="OTP">
                        <button class="get-code-btn" name="username_submit_btn">Get code</button>
                    </div>
                </form>
                <form method="POST">
                    <p style="font-size:13px;">Change the password</p>
                    <div class="input-container">
                        <i class="fas fa-lock" style="color: #06283D; font-size: 24px;"></i>
                        <input type="password" id="password1" name="password1" placeholder="New password">
                    </div>
                    <div class="input-container">
                        <i class="fas fa-lock" style="color: #06283D; font-size: 24px;"></i>
                        <input type="password" id="password" name="password2" placeholder="Re-enter password">
                    </div>
                    <div class="submit-container">
                        <button type="submit" class="submit-btn" name="password_submit_btn">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
