{% extends 'auth_templates/auth_base.html' %}

{% block title %}
    forgot password
{% endblock %}

{% block content %}
    <div class="auth-wrapper">
        <div class="auth-box">
            <div class="back-btn-container">
                <button class="get-back-btn" name="username_submit_btn" onclick="location.href='.'">
                    <i class="fas fa-chevron-left" style="font-size: 24px;"></i>
                </button>
                <div class="auth-heading">
                    <h2><strong>Forgetting Password</strong></h2>
                </div>
            </div>
            <div class="auth-box-p">
                <p class="have-account">Get otp verification</p>
            </div>
            <div class="auth-form">
                <form method="POST">
                    <div class="input-container">
                        <i class="fas fa-user" style="color: #06283D; font-size: 24px;"></i>
                        <input type="text" id="username" name="username_or_email" placeholder="Username Or Email">
                    </div>
                    <div class="input-container">
                        <i class="fas fa-shield" style="color: #06283D; font-size: 24px;"></i>
                        <input type="text" id="otp" name="otp" placeholder="OTP">
                        <button class="get-code-btn" name="username_submit_btn">Get code</button>
                    </div>
                </form>
                <form method="POST">
                    <p class="have-account" style="text-align: left; margin-left: 7px;">Change the password</p>
                    <div class="input-container">
                        <i class="fas fa-lock" style="color: #06283D; font-size: 24px;"></i>
                        <input type="password" id="password1" name="password1" placeholder="New password">
                    </div>
                    <div class="input-container">
                        <i class="fas fa-lock" style="color: #06283D; font-size: 24px;"></i>
                        <input type="password" id="password" name="password2" placeholder="Re-enter new password">
                    </div>
                    <div class="submit-container">
                        <button type="submit" class="submit-btn" name="password_submit_btn">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
