{% extends 'auth_templates/auth_base.html' %}

{% block title %}
    sign up
{% endblock %}

{% block content %}
    <div class="auth-wrapper">
        <div class="auth-box">
            <div class="back-btn-container">
                <button class="get-back-btn" name="username_submit_btn">
                    <i class="fas fa-chevron-left" style="color: #256D85; font-size: 24px;"></i>
                </button>
                <h2 class="auth-heading"><strong>Welcome!</strong></h2>
            </div>
            <!-- <img src="{{ url_for('static', filename='images/auth_images/icon.png')}}" class="sign-up-icon"> -->
            <p class="have-account">Register your account</p>
            <br>
            <form class="auth-form" method="post">
                <!-- <label for="name">Full Name</label> -->
                <div class="input-container">
                    <i class="fas fa-user" style="color: #06283D; font-size: 24px;"></i>
                    <input type="text" class="input" placeholder="Fullname" id="full_name" name="full_name">
                </div>
                <!-- <label for="username">Username</label> -->
                <div class="input-container">
                    <i class="fas fa-user" style="color: #06283D; font-size: 24px;"></i>
                    <input type="text" class="input" placeholder="Username" id="username" name="username">
                </div>
                <!-- <label for="email">Email Address</label> -->
                <div class="input-container">
                    <i class="fas fa-envelope" style="color: #06283D; font-size: 24px;"></i>
                    <input type="email" class="input" placeholder="Email" id="email" name="email">
                </div>
                <!-- <label for="phone">Phone Number</label> -->
                <div class="input-container">
                    <i class="fas fa-phone" style="color: #06283D; font-size: 24px;"></i>
                    <input type="tel" class="input" placeholder="Phone number" id="phone_number" name="phone_number">
                </div>
                <!-- <label for="referral">Referral Username</label> -->
                <div class="input-container">
                    <i class="fas fa-user" style="color: #06283D; font-size: 24px;"></i>
                    <input type="text" class="input" placeholder="Referral username (optional)" id="referral" name="referral_username">
                </div>
                <!-- <label for="password1">Password</label> -->
                <div class="input-container">
                    <i class="fas fa-lock" style="color: #06283D; font-size: 24px;"></i>
                    <input type="password" class="input" placeholder="Password" id="password1" name="password1">
                </div>
                <!-- <label for="password2">Confirm Password</label> -->
                <div class="input-container">
                    <i class="fas fa-lock" style="color: #06283D; font-size: 24px;"></i>
                    <input type="password" class="input" placeholder="Re-enter password" id="password2" name="password2">
                </div>
                <div class="submit-container">
                    <button type="submit" class="submit-btn">Register</button>
                </div>
                <p class="have-account">
                    By clicking the register button, you agree to our
                    <a class="term" href="#">Policy Privacy</a> and <a class="term" href="#">Terms and Conditions</a>
                </p>
                <p class="have-account">Alredy have account? <a class="term" href="/login">Login</a></p>
            </form>
        </div>
        
    </div>
{% endblock %} 