body {
    background-color: #fff;
    box-sizing: border-box;
    font-family: 'Poppins';
    height: 100vh;
    margin: 0;
    padding: 0;    
}   
.auth-wrapper {
    background-color: #fff;
    height: 100%;
    padding: 30px 0 30px 0;
    width: 100%;
}
.auth-box {
    align-items: center;
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    margin: auto;
    width: 50%;
}
.back-btn-container {
    box-sizing: border-box;
    display: flex;
    gap: 50px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 30px;
    width: 90%;
}
.get-back-btn {
    background-color: transparent;
    border: none;
    color: #256D85;
    float: left;
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 0;
    outline: none;
}
.get-back-btn:hover {
    background-color: #256D85;
    border-radius: 8px;
    color: #fff;
}
.auth-heading {
    display: flex;
    color: #256D85;
    justify-content: space-between;
}
.auth-heading h2 {
    margin: 0;
    padding: 0;
    text-align: center; 
}
.auth-box-p {
    display: flex;
    justify-content: flex-start;
    margin-left: 15px;
    width: 90%;   
}
.auth-form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    width: 90%;
}
.input-container {
    align-items: center;
    background-color: #256D854D;
    border: 2px solid #fff;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    gap: 10px;
    padding: 5px;
    width: 100%;
}
.input-container:hover {
    border-color: #256D85;
    cursor: pointer;
}
.input-container input {
    background-color: transparent;
    border: none;
    box-sizing: border-box;
    color: #256D85;
    flex-grow: 1;
    font-size: 16px;
    height: 100%;
    margin-top: 10px;
    outline: none;
    padding: 5px;
    width: 100%;
}
.input-container i {
    font-size: 18px;
    margin-left: 10px;
}
.input-container input::placeholder {
    color: #256D85;
}
.input-container .fa-eye-slash, .input-container .fa-eye, .input-container .fa-chevron-down {
    color: #06283D;
    font-size: 20px;
    margin-right: 10px;
}
.submit-container {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}
.submit-btn {
    background-color: #256D85;
    box-sizing: border-box;
    border: none;
    border-radius: 15px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    outline: none;
    padding: 10px 15px;
    width: 60%;
}
.submit-btn:hover {
    background-color: #256D854D;
    color: #256D85;
    cursor: pointer;
}
.terms {
    font-size: 15px;
    text-align: center;
    width: 100%;
}
.have-account {
    color: #256D85;
    font-size: 17px;
    text-align: center;
}
.term {
    color: #256D85;
    font-weight: 700;
}
.term:hover {
    color: #256D854D;
}
.get-code-btn{
    background-color: transparent;
    border: none;
    color: #256D85;
    font-weight: 700;
    height: 90%;
    outline: none;
    margin: 0;
    padding: 0;
    width: 30%;
}
.get-code-btn:hover {
    background-color: #256D85;
    border: 0.5px #256D85 solid;
    border-radius: 8px;
    color: #fff;
    padding: 0;
    margin: 0;
    width: 50%;
}

/* for medium and small screens */
@media (max-width: 689px) {
    .pre-auth-btn-container {
        display: flex;
        justify-content: center; 
        gap: 10px;
        margin-bottom: 20px;
        margin-top: 20px;
        width: 40%;
    }
    .pre-auth-btn-container button {
        width: 100%;
    }
    .pre-auth-container p {
        width: 100%;
    }
    .auth-wrapper {
        box-sizing: border-box;
        padding: 40px 15px 40px 15px;
        width: 100%;
    }
    .auth-box {
        box-sizing: border-box;
        height: 100vh;
        width: 100%;
    }
    .submit-btn {
        width: 100%;
    }
}