body {
    background-color: #fff;
    font-family: 'Poppins';
    margin: 0;
    padding-top: 50px;
}
.top-navbar {
    background: #256D85;
    border-bottom: 0.5px solid #fff;
    color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.nav-container-fluid {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}
.navbar-right, .navbar-left, .navbar-center {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
}
.navbar-right {
    width: 25%;
}
.navbar-center {
    margin-top: 10px;
    width: 50%;
}
.invisible-nav{
    display: none;       
}
.navbar-left {
    width: 25%;
}
.notification i:hover {
    cursor: pointer;
}
.left-side-navbar{
    display: none;
}
.show-hamburger-side-navbar-container {
    display: block;
    top: 90px;
    left: 10px;
    right: 10px;
    background-color: transparent;
    height: 100vh;
    width: 100%;
}
/* to be swap with show */
.hide-hamburger-side-navbar-container {
    display: none;
}
.hamburger-side-navbar {
    background-color: #256D85;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding: 30px 0px 15px 25px;
    width: 80%;
}
.side-nav-item {
    font-weight: 600;
    display: flex;
    gap: 10px;
    margin: 0;
    padding: 5px 0 5px 0;
    width: 100%;
    margin-bottom: 1px;
}
.side-nav-item-drop {
    width: 100%;
}
.side-nav-item-drop div {
    gap: 10px;
    border: 0.5px solid #fff;
    border-radius: 8px;
    margin-bottom: 3px;
    padding: 5px;
    width: 80%;
}
.side-nav-item-drop div .fa-chevron-down {
    margin-left: 50px;
}
.side-nav-item a, .side-nav-item-drop a, .side-nav-item-drop i, .side-nav-item i {
    color: #fff;
    text-decoration: none;
    margin-top: auto;
    margin-bottom: auto;
}
.show-main-section {
    display: flex;
    flex-direction: column;
}
.hide-main-section {
    display: none;
}
.welcome-header {
    color: #256d85;
    margin: 40px 0px 0px 15px;
    
}
.banner-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
}
.banner {
    background: #256d854d;
    border-radius: 8px;
    color: #06283D;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
    width: 90%;
}
.banner-left, .banner-right  {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.banner-center{
    display: none;
}
.balance-text p, .trxn p {
    font-size: 16px;
    padding: 0px 20px;
}
.assets  p {
    text-align: center;
    padding: 0px 15px;
}
.mobile-none {
    display: none;
}
.pc-none {
    display: block;
}
.fund {
    text-align: center;
    padding: 0px 15px;
    margin-bottom: 10px;
}
.balance-text, .trxn{
    padding: 0px 15px;
    text-align: center;
    color: #256D85;
    font-weight: 600;
    font-size: 16px;
}
.balance-text, .assets {
    color: #256D85;
    font-weight: 600;
    font-size: 16px;
}
.fund  button {
    background-color: #256D85;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
}
.fund button:hover {
    background-color: #256D854D;
    color: #256D85;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 90%;
}
.header {
    color: #256D85;
    text-align: left;
    margin: 0;
    padding: 0;
}
.header  h2 {
    font-size: 13px;
}
.acc-details-container-fluid {
    color: #256D85;
    background-color: #256d854d;
    border-radius: 8px;
    display: flex;
    width: 100%;
}
.acc-details-text {
    color: #256D85;
    font-weight: 600;
    font-size: 16px;
}

.acc-details-text a {
    color: #256D85;
    padding: 10px;
}
.account-details-container {
    padding: 20px;
    box-sizing: border-box;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    gap: 0px;
    height: fit-content;
    width: 100%;
}
.between-acc-details{
    display: none;
}
.grid-container {
    align-items: center;
    border-radius: 8px;
    justify-content: center;
    display: grid;
    background-color: #256d854d;
    gap: -2px;
    grid-template-columns: repeat(3, 2fr);
    height: fit-content;
    place-items: center;
    width: 100%;
}
.grid-item {    
    background: #fff;
    border-radius: 8px;
    text-align: center;
    padding: auto;
    place-items: center;
    margin: 10px;
    padding: auto;
    width: 80%;
    height: 80%;
}
.grid-item:hover{
    background-color: #256D854D;
    color: #fff;
}
.grid-icon {
    color: #256D85;
    font-size: 30px;
    margin-top: 5px;
}
.grid-text {
    font-size: 15px;
    font-weight: 600;
    color: #256D85;
}
.right-side {
    display: none;
}
.bottom-navbar {
    background-color: #fff;
    bottom: 0;
    height: auto;
    position: fixed;
    width: 100%;
    z-index: 1000;
}
.bottom-navbar-container {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
.navbar-list {
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
}

/* for large screen*/
@media screen and (min-width: 767px) {
    .navbar-right{
        display: none;
    }
    .navbar-left{
        margin-right: 12px;
        justify-content: flex-end;
    }
    .navbar-center {
        justify-content: flex-start;
        width: 25%;
    }
    .navbar-center img {
        margin-left: 10px;
    }
    .invisible-nav{
        font-weight: 700;
        display: block;
        justify-content: flex-start;
        width: 50%;
    }
    .invisible-nav ul {
        display: flex;
        justify-content:center;
        width: 100%;
    }
    .invisible-nav ul li {
        margin: 0 15px 0 15px;
    }
    .invisible-nav ul li a{
        color: #fff;
        text-decoration: none;
        padding: 5px;
    }
    .invisible-nav ul li a:hover {
        background-color: #fff;
        border-radius: 8px;
        color: #256D85;
    }
    .show-hamburger-side-navbar-container {
        display: none;
    }
    .main-container {
        display: flex;
        width: 100%;
    }
    .left-side-navbar {
        display: block;
        border-radius: 8px;
        position: fixed;
        top: 85px;
        left: 10px;
        background-color: #256D85;
        height: fit-content;
        width: 18%;
    }
    .side-navbar-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 7px;
        margin: 20px 0 20px 10px;
        justify-content: center;
        place-items: center;
        width: 100%;
    }
    .side-nav-item {
        font-weight: 500;
        display: flex;
        gap: 10px;
        margin: 0;
        padding: 0;
        width: 100%;
        margin-bottom: 1px;
    }
    .side-nav-item-drop {
        width: 100%;
    }
    .side-nav-item-drop div {
        gap: 10px;
        border: 0.5px solid #fff;
        border-radius: 8px;
        margin-bottom: 3px;
        padding: 5px;
        width: 80%;
    }
    .side-nav-item a, .side-nav-item-drop a, .side-nav-item-drop i, .side-nav-item i {
        color: #fff;
        text-decoration: none;
        margin-top: auto;
        margin-bottom: auto;
    }
    .show-main-section {
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        display: flex;
        flex-direction: column;
    }
    .welcome-header{
        font-size: 20px;
        text-align: center;
    }
    .welcome-header h2 {
        margin: 0;
        padding: 0;
    }
    .banner{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .pc-none {
        display: none;
    }
    .mobile-none {
        display: block;
    }
    .banner-left, .banner-right{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 10px;
        justify-content: flex-start;
        width: 25%;
    }
    .header h2 {
        font-size: 20px;
    }
    .container{
        width: 100%;
    }
    .between-acc-details{
        display: flex;
        flex-direction: column;
    }
    .account-details-container{
        width: 33.333%;
    }
    .grid-container{
        height: 250px;
        grid-template-columns: repeat(5, 2fr);
    }
    .grid-item {
        height: 80%;
        width: 90%;
    }
    .grid-icon {
        color: #256D85;
        font-size: 30px;
        margin-top: 5px;
    }
    .right-side{
        position: absolute;
        top: 85px;
        right: 10px;
        background-color: transparent;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
        width: 18%;
        border-radius: 8px;
    }
    .right-side-2, .right-side-1 {
        margin-bottom: 10px;
        border-radius: 8px;
        height: 50%;
        width: 100%;
    }
    .right-side-1 {
        background-color: #256D854D;
    }
    .right-side-2{
        background-color: #256D85;
    }

    .bottom-navbar {
        display: none;
        overflow: hidden;
    }
    
}