{% extends 'auth_templates/auth_base.html' %}
{% block title %}
    TV Subscription
{% endblock %}

{% block content %}
<div class="auth-wrapper">
    <div class="auth-box">
        <div class="back-btn-container">
            <button class="get-back-btn" name="username_submit_btn" onclick="history.back()">
                <i class="fas fa-chevron-left" style="font-size: 24px;"></i>
            </button>
            <div class="auth-heading">
                <h2><strong>TV Subscription</strong></h2>
            </div>
        </div>
        
        <div class="auth-box-p">
            <p class="have-account">Subscribe for your TV</p>
        </div>
        <form class="auth-form" method="post">
            <div class="input-container">
                <input type="text" class="text" placeholder="Select company" id="tv_company" name="tv_company">
                <i class="fas fa-chevron-down"></i>
            </div>
            <div class="input-container">
                <input type="text" class="input" placeholder="Name" id="tv_name" name="tv_name">
                <i class="fas fa-chevron-down"></i>
            </div>
            <div class="input-container">
                <input type="text" class="input" placeholder="Plans" id="tv_plan" name="tv_plan">
                <i class="fas fa-chevron-down"></i>
            </div>
            <div class="input-container">
                <input type="text" class="input" placeholder="Smart card number" id="tv_card_number" name="tv_card_number">
            </div>
            <div class="input-container">
                <input type="text" class="input" placeholder="Amount" id="tv_amount" name="tv_amount">
            </div>
            <div class="submit-container">
                <button type="submit" class="submit-btn">Subscribe</button>
            </div>
        </form>   
    </div>
</div>

{% endblock %}